[Unit]
Description=Unreal Engine Dedicated Server
StartLimitAction=reboot

[Service]
ExecStart=/usr/bin/dedicated-server/Linux/LinuxServer/<Your_Server>.sh
Restart=Always
RestartSec=1
User=unreal

[Install]
WantedBy=multi-user.target
